@{
    ViewBag.Title = @ViewBag.Node.Name;
}

<main>
    <div class="row">
        <h1 class="text-center">@ViewBag.Node.Name</h1>
    </div>
    @if (ViewBag.Node.SubFolders.Count != 0)
    {
        foreach (var item in ViewBag.Node.SubFolders)
        {
            <h4>@Html.ActionLink($"{item.Name}", "Index", "Home", new { id = item.Id }, new { @class = "nav-link" })</h4>
        }
    }
    else
    {
        <h4 class="text-center">There is no subfolders</h4>
    }

</main>